* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'League Spartan', sans-serif;
    min-height: 100vh;

    background: white;

    background-image:
        url("images/bg-pattern-top-desktop.svg"),
        url("images/bg-pattern-bottom-desktop.svg");

    background-repeat: no-repeat, no-repeat;

    background-position:
        top left,
        bottom right;
}
.container {
    width: 1110px;
    max-width: 90%;
    margin: 80px auto;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 70px;
}
.intro {
    width: 430px;
}
.intro h1 {
    font-size: 52px;
    color: hsl(300, 43%, 22%);
    line-height: 0.9;

    margin-bottom: 20px;
}
.intro p {
    color: hsl(303, 10%, 53%);
    font-size: 18px;
    line-height: 1.5;
}
.ratings{
    display:flex;
    flex-direction:column;
    gap:20px;
}
.rating{
    display:flex;
    align-items:center;

    background:hsl(300,24%,96%);

    padding:20px;

    border-radius:8px;
}