* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'League Spartan', sans-serif;
    min-height: 100vh;

    background: white;

    background-image:
        url("images/bg-pattern-top-desktop.svg"),
        url("images/bg-pattern-bottom-desktop.svg");

    background-repeat: no-repeat, no-repeat;

    background-position:
        top left,
        bottom right;
}
.container {
    width: 1110px;
    max-width: 90%;
    margin: 80px auto;
}